doctype html
html
    head
        title Natours
        // because we have set the express.static to public in app these paths are relative to that folder
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body
        h1 The Park Camper
        // comment
        p some text